{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <div class="row top-row">

    <h3 class="text-center row-header">Gaming Devices</h3>

    {% for console in consoles %}

    <a href="{{url_for('showGamesByConsole', console_id = console.id)}}">
      <div class="col-md-3">
        <div>
          <h4 class="text-center">{{console.name}}</h4>
          <img class="img img-responsive console-img" src="{{console.picture}}"/>
        </div>
      </div>
    </a>

    {% endfor %}
    <div class="col-md-12">
      <hr>
    </div>
  </div>


  <div class="row game-row">
    <h3 class="text-center row-header">Best Selling (All Consoles)</h3>

    {% for game in recent_games %}

    <a href="{{url_for('showGame', console_id = game.console_id, game_id = game.id)}}">
      <div class="col-md-3 text-center">
          <img class="img img-responsive game-img" src="{{game.picture}}">
          <h4>{{game.name}}</h4>
      </div>
    </a>

    {% endfor %}
  </div>
{% endblock %}
